.DS_Store

*.log
gitlab/gitlab-ce/conf
gitlab/gitlab-ce/data
gitlab/gitlab-ce/logs
mariadb/conf
mariadb/data
mariadb/logs
mongodb/conf
mongodb/data
mongodb/logs
mysql/conf
mysql/data
mysql/logs
nginx/conf
nginx/html
nginx/logs
redis/conf
redis/data
redis/logs
redis/cluster/data
redis/cluster/logs
